.advantages {
  margin-bottom: 50px;
  background: url("../assets/img/advantages/advantages-bg.png") no-repeat;
  background-position: right;

  .advantages__title {
    padding: 50px 40px 20px 30px;
    margin: 20px 0 50px;
    width: 70%;
    background: url("../assets/img/advantages/title-bg.png") no-repeat;
    background-position: -60px -10px;
  }
  .advantages-list {
    margin-bottom: 60px;
    flex-wrap: wrap;
    text-align: center;

    .item {
      margin-right: 60px;
      flex-basis: 20%;
      margin-bottom: 60px;
    }
    .item__img {
      margin-bottom: 30px;
      background: $bgColor;
      width: 118px;
      height: 118px;
      border-radius: 50%;
      border: 20px solid $bgColor;
    }
  }

  .advantages__to-shop {
    @include buttonMain;
    display: inline-block;
    text-decoration: none;
  }
}
