$baseContainerWidth: 1300px;
$baseContainerPadding: 5px;

// ===  FONT  ===

$baseFont: "proxima-nova", sans-serif;
$baseFontSize: 18px;
$titleFont: "ProximaNova-Black", sans-serif;
$linkFont: "ProximaNova-Bold", sans-serif;
$buttonFont: "ProximaNova-semiBold", sans-serif;
$descriptionFont: "ProximaNova-Regular", sans-serif;

// === / FONT  ===

// === COLOR ===
$mainColor: #2e8eff;
// ===  / COLOR ===

//     ====       Media ====
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
// $screen-md: 991px;
$screen-lg: 1199px;

//     ====  /   Media ====

// === HOVER ===

$shadow: 0px 0px 10px 8px
  rgba(
    $color: #000000,
    $alpha: 0.1
  );

$borderBottom: 2px solid #fefe41;
// ===  / HOVER ===
