$baseContainerWidth: 1300px;
$baseContainerPadding: 5px;

// ===  FONT  ===

$baseFont: "proxima-nova", sans-serif;
$baseFontSize: 18px;
$titleFont: "ProximaNova-Black", sans-serif;
$linkFont: "ProximaNova-Bold", sans-serif;
$buttonFont: "ProximaNova-semiBold", sans-serif;
$descriptionFont: "ProximaNova-Regular", sans-serif;

// === / FONT  ===

// === Shadows ===

$shadow: 0px 0px 10px 8px
  rgba(
    $color: #000000,
    $alpha: 0.1
  );

// ===  / Shadows ===
