.header__logo {
  @media (max-width: $screen-lg) {
    .header__logo-img {
      display: none;
    }
  }
}

.main__header {
  @media (max-width: $screen-sm) {
    height: 500px;

    .header__navigation {
      height: 100%;
    }

    .header__language {
      display: none;
    }
  }
}
.main__header {
  .header__navigation-list {
    @media (max-width: $screen-sm) {
      flex-direction: column;
      height: 100%;

      .item {
        flex-basis: 20%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid #fff;

        @media (max-width: $screen-sm) {
          font-size: 70px;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}
