.intro {
  position: relative;
  height: 914px;

  .intro__background {
    display: flex;
    width: 100%;
    flex-basis: 50%;
    justify-content: center;

    background: linear-gradient(#fff, #32b5ff);
  }

  .intro__circle-container {
    position: absolute;
    top: 200px;
    left: calc(50% - 250px);

    .intro__circle {
      position: relative;
      text-align: center;
      width: 512px;
      height: 521px;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid #1d85ff;
      z-index: 10;

      .intro__circle-img {
        margin-top: 60px;
      }

      .intro__circle-title {
        padding-top: 28px;
        font-family: "ProximaNova-Black", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        color: $mainColor;
      }

      .title__strip,
      .title__strip--second {
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: #fcff2e;
        z-index: -1;
      }

      .title__strip {
        top: 194px;
        left: 50px;
      }

      .title__strip--second {
        top: 194px;
        left: 290px;
      }

      .intro__circle-subtitle {
        padding-top: 14px;
        font-size: 21px;
        font-weight: 500;
        color: #454545;
      }

      .intro__circle-description {
        padding-top: 20px;
        margin: 0 auto;
        width: 70%;
        font-size: 18px;
        font-weight: 100;
        color: #636363;
      }
    }

    .intro__bullet-list {
      position: absolute;
      top: 30px;
      right: -100px;
      z-index: 1;

      .item {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 400px;
        height: 66px;
        text-align: center;
        background-color: $bgColor;
        border: 3px solid #fff;
        border-radius: 40px;
        transition: 0.3s;

        &:hover {
          right: -200px;
        }

        .item__link {
          color: #fff;
          text-decoration: none;
          padding-right: 30px;
        }
        .item__icon {
          .item__img {
            display: inline;
            padding-right: 30px;
          }
        }
      }

      .item--1 {
        position: absolute;
        top: 160px;
        right: 30px;

        &:hover {
          right: -300px;
        }
      }

      .item--2 {
        position: absolute;
        top: 80px;
        right: 50px;
      }

      .item--3 {
        position: absolute;
        top: 0px;
        right: 100px;
      }
    }
  }
}

@import "media.scss";
