.news {
  position: relative;
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 170px;
  background: url("../assets/img/news/news-bg.png") no-repeat;

  .news__title {
    text-align: right;
    padding-right: 200px;
  }

  .news__title-bg {
    position: absolute;
    top: 0;
    right: -80px;
  }
}
